@section_divider: #ebebeb;
@page_width: 1150px;
@company_profile_image_height: 270px;

#company_profile_wrapper {
    width: 100%;
    position: relative;
    background-color: #f8f8f8;

    .section_divider {
        background-color: @section_divider;
        margin-top: 20px;

        .section_name_wrapper {
            margin: auto;
            left: 0;
            right: 0;
            width: @page_width;

            .ancestor_section_name {
                font-family: 'Open Sans';
                display: inline-block;
                color: #999999;
            }

            .section_name {
                display: inline-block;
                height: 45px;
                line-height: 45px;
                color: #999999;
                font-family: 'Open Sans';
            }
        }
    }

    .company_profile_content {
        width: @page_width;
        margin: auto;
        left: 0;
        right: 0;
        position: relative;
        padding-bottom: 50px;

        .company_profile_image {
            width: 100%;
            height: @company_profile_image_height;
            line-height: @company_profile_image_height;
            background: url('/static/images/jobs/company_image/mixpanel-company-photo.jpg') no-repeat;
            margin-top: 30px;
            border-radius: 3px;

            .company_profile_image_black_cover {
                position: absolute;
                width: 100%;
                height: @company_profile_image_height;
                top: 0;
                left: 0;
                background:rgba(0, 0, 0, 0.4);
            }

            .company_profile_image_content_wrapper {
                height: @company_profile_image_height;

                .company_profile_icon {
                    display: inline-block;
                    background: url('/static/images/jobs/company_image/Mixpanel_logo.jpeg') no-repeat;
                    width: 150px;
                    height: 150px;
                    background-size: contain;
                    z-index: 1;
                    left: 40px;
                    border-radius: 3px;
                    vertical-align: middle;
                    position: relative;
                }

                .company_profile_description_section {
                    display: inline-block;
                    color: white;
                    left: 60px;
                    position: relative;
                    vertical-align: middle;

                    .company_profile_name {
                        font-family: 'Open Sans';
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 1;
                    }

                    .company_profile_company_description {
                        font-family: 'Open Sans';
                        font-size: 14px;
                        width: 915px;
                        line-height: 1;
                        margin-top: 10px;
                    }
                }

            }

            .company_profile_view_jobs_button {
                width: 180px;
                height: 40px;
                background-color: #428bca;
                color: white;
                line-height: 40px;
                vertical-align: middle;
                text-align: center;
                border: 1px solid #357ebc;
                border-radius: 3px;
                display: inline-block;
                float: right;
                right: 20px;
                position: relative;
                bottom: 64px;
            }
        }

        .company_profile_summary_section {
            .user_attraction {
                position: relative;

                .applications {
                    background: url('/static/images/jobs/user_icon.png') no-repeat;
                    background-size: 12px 12px;
                    height: 12px;
                    color: #468dc8;
                    padding-left: 18px;
                    font-size: 12px;
                    font-family: 'Open Sans';
                    margin-top: 10px;
                    margin-left: 20px;
                }

                .reputation {
                    background: url('/static/images/jobs/star.svg');
                    background-size : 100px 100px;
                }
            }

            .more_info {
                padding-top: 10px;

                .info_row {
                    position: relative;
                    height: 20px;
                    width: 1150px;
                    padding-top: 15px;

                    .info {
                        display: inline-block;
                        position: absolute;
                        width: 350px;

                        &.left {
                            left: 20px;

                        }

                        &.mid {
                            left: 0;
                            right: 0;
                            margin-left: auto;
                            margin-right: auto;
                        }

                        &.right {
                            right: 20px;
                            text-align: right;
                        }

                        .section_name, .section_value {
                            font-family: 'Open Sans';
                            color: #3c3f40;
                            font-size: 14px;
                            position: absolute;
                        }

                        .section_name {
                            font-weight: bold;
                            left: 0;
                        }

                        .section_value {
                            right: 0;
                        }

                        .dash_line {
                            height: 1px;
                            width: 100px;
                            display: inline-block;
                            border-top: 1px solid #ebebeb;
                            position: absolute;
                            left: 0;
                            right: 0;
                            margin-left: auto;
                            margin-right: auto;
                            top: 8px;
                        }
                    }
                }
            }
        }

        .company_profile_office_culture {
            width: @page_width;
            margin-top: 50px;
            position: relative;

            .company_profile_office_culture_title {
                text-align: center;
                width: 100%;
                font-size: 28px;
                font-weight: bold;
                font-family: 'Open Sans';
                color: #3c3f40;
            }

            .company_profile_office_culture_description {
                font-size: 12px;
                text-align: center;
                width: 100%;
                font-family: 'Open Sans';
                padding-top: 15px;
                color: #3c3f40;
            }

            .company_profile_office_culture_image_row {
                width: 100%;
                padding-top: 20px;
                position: relative;
                height: 290px;

                .company_profile_office_culture_image {
                    display: inline-block;
                    width: 365px;
                    height: 270px;
                    position: absolute;

                    &.left {
                        background: url('/static/images/jobs/company_image/company_profile_office_culture_left.png') no-repeat;
                        left: 0;
                    }

                    &.mid {
                        background: url('/static/images/jobs/company_image/company_profile_office_culture_mid.png') no-repeat;
                        left: 0;
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    &.right {
                        background: url('/static/images/jobs/company_image/company_profile_office_culture_right.png') no-repeat;
                        right: 0;
                    }
                }
            }
        }

        .company_profile_perks_benifits {
            width: @page_width;
            margin-top: 50px;
            position: relative;

            .company_profile_perks_benifits_title {
                width: 100%;
                text-align: center;
                color: #3c3f40;
                font-size: 28px;
                font-weight: bold;
                font-family: 'Open Sans';
            }

            .company_profile_perks_benifits_description {
                width: 100%;
                text-align: center;
                color: #3c3f40;
                font-size: 12px;
                font-family: 'Open Sans';
                padding-top: 15px;
            }

            .company_profile_perks_benifits_content {
                //box-shadow: inset 1px 1px 0 #ebebeb;
                border: 1px solid #ebebeb;
                border-radius: 3px;
                margin-top: 20px;
                background-color: white;
                padding: 50px 0;

                .company_profile_perks_benifits_row {
                    height: 35px;
                    width: 1150px;

                    .company_profile_perks_benifits_item {
                        height: 35px;
                        width: 450px;
                        position: absolute;
                        display: inline-block;

                        &.left {
                            left: 50px;
                        }

                        &.right {
                            right: 50px;
                        }

                        .company_profile_perks_benifits_icon {
                            background: url('/static/images/jobs/plus_icon.png') no-repeat;
                            height: 30px;
                            width: 30px;
                            display: inline-block;
                        }

                        .company_profile_perks_benifits_item_description_section {
                            display: inline-block;

                            .company_profile_perks_benifits_item_title {
                                font-size: 14px;
                                font-family: 'Open Sans';
                                color: #494c4d;
                                font-weight: bold;
                            }

                            .company_profile_perks_benifits_item_description {
                                font-size: 14px;
                                font-family: 'Open Sans';
                                color: #494c4d;
                            }
                        }
                    }
                }
            }
        }

        .company_profile_open_positions {
            width: @page_width;
            margin-top: 50px;
            position: relative;

            .company_profile_open_positions_title {
                width: 100%;
                text-align: center;
                color: #3c3f40;
                font-size: 28px;
                font-weight: bold;
                font-family: 'Open Sans';
            }

            .company_profile_open_positions_description {
                width: 100%;
                text-align: center;
                color: #3c3f40;
                font-size: 12px;
                font-family: 'Open Sans';
                padding-top: 15px;
            }

            .company_profile_open_positions_position_section {
                .company_profile_open_positions_position_function {
                    color: #3c3f40;
                    font-size: 16px;
                    font-family: 'Open Sans';
                    font-weight: bold;
                    padding-top: 40px;
                }

                .company_profile_open_positions_position_table {
                    border: 1px solid #ebebeb;
                    border-radius: 3px;
                    margin-top: 20px;
                    background-color: white;
                    padding: 50px 0;
                    color: #565959;
                    width: 100%;
                    font-size: 14px;
                    font-family: 'Open Sans';
                    font-weight: bold;
                    border-spacing: 0;

                    .table_row:nth-of-type(2n) {
                        background-color: #f9f9f9;
                    }

                    .table_row {
                    }

                    th.table_column {
                        padding-bottom: 14px;
                        border-bottom: 1px solid #dddddd;
                    }

                    td.table_column {
                        padding-top: 12px;
                        padding-bottom: 12px;
                        border-top: 1px solid #dddddd;
                    }


                    .table_column {
                        width: 383px;
                        text-align: left;
                        padding-left: 25px;
                    }

                    .table_column:nth-of-type(3) {
                        width: 382px;
                    }
                }
            }
        }
    }
}
