<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
    {% block head %}{% endblock %}
</head>

<body>
    <div class="hireio_wrapper">
        <div class="hireio_title_wrapper">
            {% block title %}
                <div class="logo">HireIO</div>
                <div class="navigation_section">
                    <div class="talents button navigate selected">Talens</div>
                    <div class="about button navigate">About us</div>
                    <div class="events button navigate">Events</div>
                    <div class="blog button navigate">Blog</div>
                    <div class="account_management_section">
                        <div class="signup button navigate">Signup</div>
                        <div class="login button navigate">Login</div>
                    </div>
                </div>
            {% endblock %}
        </div>
        <div class="hireio_body_wrapper">
            <div class="hireio_body"></div>
            {% block body %}{% endblock %}
        </div>
        <div class="hireio_footer_wrapper">
            {% block footer %}{% endblock %}
        </div>
    </div>
</body>
