<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% load loader %}
    {% load_js_bundle "base" %}
    {% load_css_bundle "base" %}
    {% block head %}{% endblock %}
</head>

<body>
    <div class="hireio_wrapper">
        <div class="signup_modal_widget" style="display:none">
            <div class="signup_form_wrapper">
                <div class="signup_form_background"></div>
                <div class="signup_form_content">
                    <div class="signup_form_title">
                        SIGN UP TO SEE MORE
                        <i class="fa fa-exclamation-circle fa-1"></i>
                            <div class="signup_more_info">View company profiles, open positions, job descriptions, see your future teamates, and more!</div>
                        <div class="signup_form_close_button"></div>
                    </div>
                    <form id="signup_form" method="post" action="/account/signup">
                        <div class="linked_in_signup_button"></div>
                        <div class="signup_form_content_divider">OR</div>
                        {% csrf_token %}
                        <div class="signup_form_email signup_input_field">
                            {{ signup_form.username.label_tag }}<br />
                            {{ signup_form.username }}
                        </div>
                        <div class="signup_form_confirm_email signup_input_field">
                            Confirm your email address<br />
                            <input type="text" name="confirmemail" id="id_confirm_email">
                        </div>
                        <div class="signup_form_password signup_input_field">
                            <br>{{ signup_form.password.label_tag }}<br />
                            {{ signup_form.password }}
                        </div>
                        <div class="signup_form_button_row">
                            <input type="submit" class="signup_button" value="SIGN UP">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="signin_modal_widget" style="display:none">
            <div class="signin_form_wrapper">
                <div class="signin_form_background"></div>
                <div class="signin_form_content">
                    <div class="signin_form_title">
                        SIGN IN
                        <div class="signin_form_close_button"></div>
                    </div>
                    <form id="signin_form" method="post" action="/account/signin">
                        <div class="linked_in_signin_button"></div>
                        <div class="signin_form_content_divider">OR</div>
                        {% csrf_token %}
                        <div class="signin_form_email signin_input_field">
                            {{ signin_form.username.label_tag }}<br />
                            {{ signin_form.username }}
                        </div>
                        <div class="signin_form_password signin_input_field">
                            {{ signin_form.password.label_tag }}<br />
                            {{ signin_form.password }}
                        </div>
                        <div class="signin_form_button_row">
                            <input type="submit" class="signin_button" value="SIGN IN">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="hireio_title_wrapper">
            {% block title %}
                <div class="logo">HireIO</div>
                <div class="navigation_section">
                    <ul class="page_navigate_section nav .nav-tabs nav-pills">
                        <li>
                            <a href="/jobs/">
                                <div class="companies navigate {% if tab == "companies" %}selected{% endif %}">Companies</div>
                            </a>
                        </li>
                        <li>
                            <a href="/talents/">
                                <div class="talents navigate {% if tab == "talents" %}selected{% endif %}">Talents</div>
                            </a>
                        </li>
                        <li>
                            <a class="about navigate">About us</a>
                        </li>
                        <li>
                            <a href="/events/">
                                <div class="events navigate {% if tab == "events" %}selected{% endif %}">Events</div>
                            </a>
                        </li>
                        <li><a class="blog navigate">Blog</a></li>
                        <li><div class="signup navigate">Sign up</div></li>
                        {% if request.user.is_authenticated %}
                            <li><div class="signout navigate"><a href="/account/signout" style="text-decoration: none">Logout</a></div></li>
                        {% else %}
                            <li><div class="signin navigate">Login</div></li>
                        {% endif %}
                    </ul>
                </div>
            {% endblock %}
        </div>
        <div class="hireio_body_wrapper">
            <div class="hireio_body"></div>
            {% block body %}{% endblock %}
        </div>
        <div class="hireio_footer_wrapper">
            {% block footer %}{% endblock %}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.signin_form_background').click(function() {
                $('.signin_modal_widget').hide();
            });

            $('.signin.navigate').click(function() {
                $('.signin_modal_widget').show();
            });

            $('.signin_form_close_button').click(function() {
                $('.signin_modal_widget').hide();
                });

            $('.signup_form_background').click(function() {
                $('.signup_modal_widget').hide();
            });

            $('.signup.navigate').click(function() {
                $('.signup_modal_widget').show();
            });

            $('.signup_form_close_button').click(function() {
                $('.signup_modal_widget').hide();
            });
        });
    </script>
</body>
