<!DOCTYPE html>

<html>
    <head>
        {% load loader %}
    </head>
    <body>
        <form id="registration" method="post" action="register">
            {% csrf_token %}
            <p>
                {{ form.username.label_tag }}<br />
                {{ form.username }}
            </p>
            <p>
                {{ form.email.label_tag }}<br />
                {{ form.email }}
            </p>
            <p>
                {{ form.password.label_tag }}<br />
                {{ form.password }}
            </p>
            <input type="submit" value="Sign up">
        </form>
    </body>
</html>

{% load_js_bundle "recruiters" %}
{% load_css_bundle "recruiters" %}
