{% extends 'base.html' %}

{% block head %}
    <!-- dashboard -->
    <script type="text/template" id="tpl_dashboard">
        <div id="company_list_wrapper">
            <div class="section_divider">
                <div class="section_name">Companies</div>
            </div>
            <div id="company_list_content">
                <div class="company_list_tip">
                    <div class="tip_icon"></div>
                    <span>Click on a thumbnail to view open jobs for that company</span>
                </div>
                <div id="company_list"></div>
            </div>
            <div class="company_list_footer"></div>
        </div>
    </script>

    <script type="text/template" id="tpl_company_info">
        <div class="company_info_wrapper" data-company-id=<%= company.id %>>
            <div class="company_info_pic">
                <img src="/static/images/jobs/company_image/mixpanel-office.jpg"></img>
                <div class="like"></div>
                <span class="salary">Salary range: ¥50K - ¥1M</span>
                <div class="view_job">View job</div>
            </div>
            <div class="user_attraction">
                <div class="applications">1,121 Reviews</div>
                <div class="reputation"></div>
            </div>
            <div class="more_info">
                <div class="company_name_section info_row">
                    <span class="section_name">Company</span>
                    <span class="dash_line"></span>
                    <span class="section_value"><%= company.name %></span>
                </div>
                <div class="company_size_section info_row">
                    <span class="section_name">Size</span>
                    <span class="dash_line"></span>
                    <span class="section_value"><%= company.size %> Employees</span>
                </div>
                <div class="company_year_founded_section info_row">
                    <span class="section_name">Year founded</span>
                    <span class="dash_line"></span>
                    <span class="section_value">2010</span>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="tpl_signup_form">
        <form id="registration" method="post" action="recruiter_register">
            {% csrf_token %}
            <p>
                {{ form.username.label_tag }}<br />
                {{ form.username }}
            </p>
            <p>
                {{ form.password.label_tag }}<br />
                {{ form.password }}
            </p>
            <input type="submit" value="Sign up">
        </form>
    </script>

    <!-- company profile -->
    <script type="text/template" id="tpl_company_profile_wrapper">
        <div id="company_profile_wrapper">
            <div class="section_divider">
                <div class="section_name_wrapper">
                    <div class="ancestor_section_name">Browse Companies</div>
                    <div class="section_name"> / Company profile</div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="tpl_company_profile">
        <div class="company_profile_content">
            <div class="company_profile_image">
                <div class="company_profile_image_black_cover"></div>
                <div class="company_profile_image_content_wrapper">
                    <div class="company_profile_icon"></div>
                    <div class="company_profile_description_section">
                        <div class="company_profile_name"><%= company.name %></div>
                        <div class="company_profile_company_description"><%= company.product %></div>
                    </div>
                </div>
                <div class="company_profile_view_jobs_button">View Open Positions</div>
            </div>
            <div class="company_profile_summary_section">
                <div class="user_attraction">
                    <div class="applications">1,121 Reviews</div>
                    <div class="reputation"></div>
                </div>
                <div class="more_info">
                    <div class="info_row">
                        <div class="info left">
                            <span class="section_name">Company</span>
                            <div class="dash_line"></div>
                            <span class="section_value"><%= company.name %></span>
                        </div>
                        <div class="info mid">
                            <span class="section_name">Office Locations</span>
                            <div class="dash_line"></div>
                            <span class="section_value">San Francisco</span>
                        </div>
                        <div class="info right">
                            <span class="section_name">Country of Origin</span>
                            <div class="dash_line"></div>
                            <span class="section_value">United States</span>
                        </div>
                    </div>
                    <div class="info_row">
                        <div class="info left">
                            <span class="section_name">Size</span>
                            <div class="dash_line"></div>
                            <span class="section_value"><%= company.size %> Employees</span>
                        </div>
                        <div class="info mid">
                            <span class="section_name">Full Benefits</span>
                            <div class="dash_line"></div>
                            <span class="section_value">Yes</span>
                        </div>
                        <div class="info right">
                            <span class="section_name">Male / Femal Ratio</span>
                            <div class="dash_line"></div>
                            <span class="section_value">50 / 50</span>
                        </div>
                    </div>
                    <div class="info_row">
                        <div class="info left">
                            <span class="section_name">Year founded</span>
                            <div class="dash_line"></div>
                            <span class="section_value">2010</span>
                        </div>
                        <div class="info mid">
                            <span class="section_name">Stock Options</span>
                            <div class="dash_line"></div>
                            <span class="section_value">2010</span>
                        </div>
                        <div class="info right">
                            <span class="section_name">Working Hours</span>
                            <div class="dash_line"></div>
                            <span class="section_value">9:30am - 5:00pm</span>
                        </div>
                    </div>
                </div>
                <div class="company_profile_office_culture">
                    <div class="company_profile_office_culture_title">Office Culture</div>
                    <div class="company_profile_office_culture_description">Check out our working environment and our every day life here at Mixpanel</div>
                    <div class="company_profile_office_culture_image_row">
                        <div class="company_profile_office_culture_image left"></div>
                        <div class="company_profile_office_culture_image mid"></div>
                        <div class="company_profile_office_culture_image right"></div>
                    </div>
                </div>
                <div class="company_profile_perks_benifits">
                    <div class="company_profile_perks_benifits_title">Perks & Benifits</div>
                    <div class="company_profile_perks_benifits_description">Check out our awesome benifits</div>
                    <div class="company_profile_perks_benifits_content">
                        <div class="company_profile_perks_benifits_row">
                            <div class="company_profile_perks_benifits_item left">
                                <div class="company_profile_perks_benifits_icon"></div>
                                <div class="company_profile_perks_benifits_item_description_section">
                                    <div class="company_profile_perks_benifits_item_title">Medical Care.</div>
                                    <div class="company_profile_perks_benifits_item_description">Great health, vision, and dental benefits for full-time employees</div>
                                </div>
                            </div>
                            <div class="company_profile_perks_benifits_item right">
                                <div class="company_profile_perks_benifits_icon"></div>
                                <div class="company_profile_perks_benifits_item_description_section">
                                    <div class="company_profile_perks_benifits_item_title">Medical Care.</div>
                                    <div class="company_profile_perks_benifits_item_description">Great health, vision, and dental benefits for full-time employees</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="company_profile_open_positions">
                    <div class="company_profile_open_positions_title">Open Positions</div>
                    <div class="company_profile_open_positions_description">We are the fastest growing company</div>
                    <div class="company_profile_open_positions_position_section">
                        <div class="company_profile_open_positions_position_function">Customer Service</div>
                        <table class="company_profile_open_positions_position_table">
                            <tr class="table_row">
                                <th class="position_id_column table_column">Position ID</th>
                                <th class="position_title_column table_column">Position Title</th>
                                <th class="position_location_column table_column">Location</th>
                            </tr>
                            <tr class="table_row">
                                <td class="position_id_column table_column">00001</th>
                                <td class="position_title_column table_column">Retention Specialist</th>
                                <td class="position_location_column table_column">Guang Zhou, China</th>
                            </tr>
                            <tr class="table_row">
                                <td class="position_id_column table_column">00002</th>
                                <td class="position_title_column table_column">Retention Specialist</th>
                                <td class="position_location_column table_column">Guang Zhou, China</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </script>

    {% load loader %}
    {% load_css_bundle "jobs" %}
    {% load_js_bundle "jobs" %}
{% endblock %}

{% block body %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $(function() {
                hio.jobs.bootstrap();
            });
        });
    </script>
{% endblock %}

