{% extends 'base.html' %}

{% block head %}
    <!-- dashboard -->
    <script type="text/template" id="tpl_dashboard">
        <div id="company_list_wrapper">
            <div class="section_divider">
                <div class="section_name">Companies</div>
            </div>
            <div id="company_list_content">
                <div class="company_list_tip">
                    <div class="tip_icon"></div>
                    <span>Click on a thumbnail to view open jobs for that company.</span>
                </div>
                <div id="company_list">
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="tpl_company_info">
        <div class="company_info_wrapper">
            <div class="company_info_pic">
                <img src="/static/images/jobs/company_image/mixpanel-office.jpg"></img>
                <div class="like"></div>
                <span class="salary">Salary range: ¥50K - ¥1M</span>
                <div class="view_job">View job</div>
            </div>
            <div class="user_attraction">
                <div class="applications">1,121</div>
                <div class="reputation"></div>
            </div>
            <div class="more_info">
                <div class="company_name_section info_row">
                    <span class="section_name">Company</span>
                    <span class="dash_line"></span>
                    <span class="section_value"><%= company.name %></span>
                </div>
                <div class="company_size_section info_row">
                    <span class="section_name">Size</span>
                    <span class="dash_line"></span>
                    <span class="section_value"><%= company.size %> Employees</span>
                </div>
                <div class="company_year_founded_section info_row">
                    <span class="section_name">Year founded</span>
                    <span class="dash_line"></span>
                    <span class="section_value">2010</span>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="tpl_job_detail_wrapper">
        <div class="job_detail_wrapper"></div>
    </script>

    <script type="text/template" id="tpl_job_detail">
        <div class="jobs_wrapper">
            <div class="job_wrapper">
                <div class="job_title"><%= job.job_title %></div>
                <div><%= job.description %></div>
                <div><%= job.requirements %></div>
                <div><%= job.skills %></div>
                <div><%= job.location %></div>
                <div><%= job.salary %></div>
                <div><%= job.equity %></div>
                <div><%= job.job_type %></div>
                <div><%= job.responsibility %></div>
            </div>
        </div>
    </script>

    {% load loader %}
    {% load_css_bundle "jobs" %}
    {% load_js_bundle "jobs" %}
{% endblock %}

{% block body %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $(function() {
                hio.jobs.bootstrap();
            });
        });
    </script>
{% endblock %}
