<!DOCTYPE html>

<html>
    <head>
        {% load loader %}
    </head>
    <body>
        <div class="jobs_wrapper">
            <p>
                {{ form.name.label_tag }}<br/>
                {{ form.name }}
            </p>
            <p>
                {{ form.tag_name.label_tag }}<br/>
                {{ form.tag_name }}
            </p>
            <p>
                {{ form.product.label_tag }}<br/>
                {{ form.product }}
            </p>
        </div>
    </body>
</html>